.btn {
    background-color: transparent;
    outline: none;
    color: white;
    font-size:20px;
    padding: 10px 20px;
    
}

.header {
    background-color:steelblue;
    font-size: 3em;
    padding-left: 10px;
}

button {
    outline: none;
    border: none;
}

button:hover {
    background-color:aliceblue;
    color: steelblue;
}

hr {
    background-color: steelblue;
    height: 5px;
}
.smallhr {
    background-color: steelblue;
    height: 5px;
    width: 500px;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    text-decoration: underline;
}


.img {
    text-align: center;
    padding-top: 30px;
}

.footer {
    background-color:steelblue;
    color:white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

a:link {
   color: white;
} 

a:visited { 
   color:gold;
}

a:hover {
    color: red;
}

.portfolio-section {
    display:flex;
}

.portfolio-img-mobile {
    width: 200px;
    height: 400px;
    margin-right: 20px;
}

.portfolio-img-web {
    width: 420px;
    height: 300px;
    margin-right: 20px;
}

.portfolio-text {
    float:inline-start;
}